nav {
   display: flex;
   justify-content: center;
   gap: 15px;
}

nav a {
   padding: 5px;
   text-decoration: none;
   color: #fff;
}
nav a:hover {
   color: #8c7b7b;
}

.active {
   text-decoration: dashed;
}